<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bodybuddy.fit.model.dao.UserDao">

	<!-- 회원가입 -->
	<insert id="join" parameterType="User">
		INSERT INTO users (user_id, password, name, nickname, email)
		VALUES (#{userId}, #{password}, #{name}, #{nickname}, #{email});
	</insert>
	
	<!-- 로그인 -->
	<select id="login" parameterType="Map" resultType="User">
		SELECT * FROM users
		WHERE user_id = #{userId} AND password = #{password};
	</select>
	
	<!-- ID로 검색(ID 중복 확인) -->
	<select id="searchById" parameterType="String" resultType="User">
		SELECT * FROM users
		WHERE user_id = #{userId};
	</select>
	
	<!-- nickname으로 검색(닉네임 중복 확인) -->
	<select id="searchByNickname" parameterType="String" resultType="User">
		SELECT * FROM users
		WHERE nickname = #{nickname};
	</select>
	
	<!-- 회원 수정 -->
	<update id="edit" parameterType="User">
		UPDATE users
		SET password = #{password}, name = #{name}, nickname = #{nickname}, email = #{email}
		WHERE user_id = #{userId};
	</update>
	
	<!-- 전체 회원 검색 -->
	<select id="searchAll" resultType="User">
		SELECT * FROM users;
	</select>

</mapper>